@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins:wght@400;600;700&display=swap");
@import "/styles/modal.css";
html {
    box-sizing: border-box !important;
    /* 1rem igual a 10px*/
}
*,
*:before,
*:after {
    box-sizing: inherit !important;
}
body {
    font-family: "Raleway", sans-serif !important;
    font-size: 16px !important;
    line-height: 2 !important;
}

/* imagenes acomodar siempre al ancho*/
img {
    max-width: 100% !important;
    display: block !important;
}

/* Header */

header {
    /* border: 1px red solid; */
    display: flex !important;
    justify-content: space-between !important;
    margin-top: 15px !important;
}
.container-carrito {
    /* border: 1px green solid; */
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 0px 20px;
    align-items: center;
}

.buttonCarrito {
    height: 40px;
    padding: 10px;
    width: 89px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #0ac763;
}
.numeroCarrito {
    margin: 0 5px;
}
.locationCarrito {
    display: flex;
    align-items: center;
}

.locationLogo {
    color: #fc462d;
}
.tienditaTitle {
    width: 92px;
    height: 16px;
    margin-left: 20px;
    font-family: "Inter";
    font-style: italic;
    font-weight: 900;
    font-size: 22px;
    line-height: 16px;

    color: #fc462d;
}
.mexicotexto {
    margin: 0 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #332927;
}
.rayita {
    border: 1px solid #b8b4b4;
    transform: rotate(90deg);
    width: 40px;
    height: 0px;
}
.esconder {
    display: none;
}

@media (max-width: 768px) {
    .container-carrito {
        justify-content: flex-end;
    }
    .locationCarrito {
        /* border: 1px blue solid; */
        display: flex;
        justify-content: center;
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
    }
    .rayita {
        display: none;
    }
    .mexicotexto {
        font-size: 12px;
    }
    .esconder {
        display: inline-block;
        margin-left: 5px;
        color: #fc462d;
    }
}

/* Banner */

.banner {
    /* border: 1px red solid; */
    color: #fefefe;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.img-banner {
    margin: 15px auto;
    position: absolute;
    padding: 0 15px;
}

.title-banner {
    position: absolute;
}

@media (max-width: 768px) {
    .banner {
        height: 230px;
    }
    .img-banner {
        margin: 60px auto;
        padding: 0px 10px;
        height: 125px;
    }
    .title-banner {
        width: 242px;
        height: 47.69px;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
}

/* Store */

.store {
    border: 1px red solid;
    height: 590px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin: 0 15px;
    overflow: hidden;
}

.titleStore {
    /* border: 1px purple solid; */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 15px 15px;
}

.productsContainer {
    border: 1px violet solid !important;
    width: 1100px !important;
    display: flex !important;
    flex-direction: row!important;
    align-items: flex-start !important;
    margin: 0 15px !important;
    overflow-x: scroll !important;
}

.cardProduct {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    margin: 0 22px !important;
}

.discount {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    color: #5e18bb;
    background-color: #f0e3fe;
    border-radius: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}
.price {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    text-align: justify;
}
.actualPrice {
    color: #332927;
    margin-right: 4px;
}
.lastPrice {
    color: #b8b4b4;
    text-decoration-line: line-through;
}
.nameProduct {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #332927;
    width: 194px;
    height: 72px;
    margin: 8px 0;
}
.btnAddProduct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    position: static;
    width: 100%;
    height: 40px;
    background: #0ac763;
    border-radius: 8px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
}

@media (max-width:768px) {
    .productsContainer::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .productsContainer {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

/* Modal */

.modalProduct{}