.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 50px !important ;
}

.modal-content {
    border: 1px purple solid;
    width: 1068px !important;
    height: 1186px !important;
    top: 0 !important;
    left: 0 !important;
    position: absolute !important;
}

.modal-body {
    display: flex !important;
}
.modalProduct {
    width: 1068px;
    height: 1186px;
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 522px;

    background: #fefefe;
    border-radius: 16px;
}

.modalImg {
    border: 1px;
    width: 522px;
    height: 522px;
    left: 0px;
    top: 0px;
}

.modalOrder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
}

.modalDescription {
    border: 1px blue solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 442px;
    height: 182px;
    left: 0px;
    top: 90px;
}
.Name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #332927;
}
.Price {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #332927;
}

.productDescription {
    display: flex;
    border: 1px green solid;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 442px;
    height: 182px;
    left: 0px;
    top: 90px;
}
.iva {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #332927;
}
.priceAdvise {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #332927;
}
.modalSelection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 442px;
    height: 136px;
    left: 0px;
    top: 322px;
}
.Select {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #332927;
}
.toSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;

    position: static;
    width: 442px;
    height: 48px;
    left: 0px;
    top: 32px;
    /* Boulder */
    border: 1px solid #b8b4b4;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 8px 0px;
}

.btnSelection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 0px 0px;

    position: static;
    width: 442px;
    height: 48px;
    left: 0px;
    top: 88px;
}
.unity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 24px;

    position: static;
    width: 50%;
    height: 40px;
    left: 0px;
    top: 8px;
    background: #fefefe;
    box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 0 40px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #332927;
}
.btnAdd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    position: static;
    width: 235px;
    height: 40px;
    left: 207px;
    top: 8px;
    background: #0ac763;
    border-radius: 8px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    height: 590px;
    /* left: 40px;
    top: 586px; */
    border: 1px brown solid;
    overflow: hidden;
    margin: 0 15px;
    background: #fefefe;
    box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
}

.productsRelated {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    padding: 0px !important;

    width: 1162px !important;
    height: 418px !important;
    /* left: 40px;
    top: 102px; */
    overflow-x: scroll !important;
}

@media (max-width: 768px) {
    .modalProduct {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;

        position: absolute;
        width: 328px;
        height: 400px;
        left: 16px;
        top: 16px;
    }
    .modalImg {
        width: 190px;
        height: 190px;
        left: 53px;
        top: 0px;
        margin: 16px 0px;
        padding: 0;
    }
    .modalOrder {
        width: 296px;
        height: 182px;
        left: 0px;
        top: 206px;
    }
    .modalDescription {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        position: static;
        width: 296px;
        height: 452px;
        left: 16px;
        top: 16px;
    }
    .Name {
        width: 296px;
        height: 42px;
        left: 0px;
        top: 0px;

        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
    }

    .Price {
        width: 296px;
        height: 36px;
        left: 0px;
        top: 58px;
    }

    .productDescription {
        width: 296px;
        height: 72px;
        left: 0px;
        top: 110px;
    }

    .iva {
        position: static;
        width: 296px;
        height: 16px;
        left: 0px;
        top: 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
    .priceAdvise {
        width: 296px;
        height: 48px;
        left: 0px;
        top: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin: 8px 0px;
    }

    .modalSelection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        position: static;
        width: 296px;
        height: 200px;
        left: 16px;
        top: 492px;
        margin: 24px 0px;
    }

    .Select {
        width: 304px;
        height: 24px;
        left: 0px;
        top: 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    .toSelect {
        padding: 12px 16px;
        position: static;
        width: 296px;
        height: 48px;
        left: 0px;
        top: 32px;
        border: 1px solid #b8b4b4;
        box-sizing: border-box;
        border-radius: 8px;
    }

    .btnSelection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 0px 0px;
        width: 296px;
        height: 112px;
        left: 0px;
        top: 88px;
    }
    .unity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding: 8px 24px; */

        width: 296px;
        /* height: 40px; */
        left: 0px;
        top: 8px;
        background: #fefefe;
        box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        margin: 0px 24px -10px;
    }

    .btnAdd {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;

        width: 296px;
        height: 40px;
        left: 0px;
        top: 72px;
        border-radius: 8px;
        margin: 24px 0px;
    }
    .productsRelated::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .modal-footer {
        height: 495px;
    }
    .productsRelated {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
